.MyPortfolio {
    font-weight: bold;
    font-size: 22px;
    color: #1e3a8a;
    padding-top: 8PX;
    padding-left: 30px;
    float: left;
    font-family: 'Segoe UI';
}

nav{
    background-color: white;
    padding: 12px 0;
    text-align: right;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
nav a {
    border-radius: 8px;
    display: inline;
    text-decoration: none;

    font-family: 'Segoe UI';
    font-weight:600 ; 
    font-size: smaller; 
    padding: 14px 20px; 
    color: black; margin: 0 16px; 
    display: inline-block;
}
nav a:hover {
    background-color: #E5EBFF;
}

body{
    background-color: #f1f5f9;
}
div {
    margin-top: 100px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    background-color: white;
    width: 1200px;
    height: 600px;
    border-radius: 8px;
}

.btn {
  display: inline-block;
  background: #1e3a8a;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 50px;
  text-decoration: none;
  font-family: 'Segoe UI';
  
}
.btn:hover {
  background: #3b82f6;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 0.8s ease-out;
  animation-fill-mode: forwards;
}

.btn1 {
  display: inline-block;
  background: white;
  color: #1e3a8a;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 999px;
  text-decoration: none;
  font-family: 'Segoe UI';
  border-color: #1e3a8a;
  border-width: 2px;
  border-style: solid;
}
.btn1:hover {
  background: #E5EBFF;
}